In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib as plt
import os

In [6]:
def hj(today = dt.datetime.today()):
    hj = today.strftime('%d-%m-%Y')
    
    return hj

def get_dates(today = dt.datetime.today()):
    '''
    Dado o dia de hoje, computa todas as datas de quinze em quinze dias, começando por amanhã
    e terminando em 360 dias. Retorna as datas numa lista em formato %d%m%Y
    '''
    list_days = [1] + [i*15 for i in range(1, 25)]
    dates = [(today + dt.timedelta(days=day)) for day in list_days]
    dates_mdY = [date.strftime('%m/%d/%Y') for date in dates]
    dates_dmY = [date.strftime('%d/%m/%Y') for date in dates]
    dates_hifen = [date.strftime('%d-%m-%Y') for date in dates]
    
    return dates_mdY, dates_dmY, dates_hifen

In [59]:
test_df = pd.DataFrame(columns = ['Companhia', 
                                  'Data de Coleta', 
                                  'Data da Passagem', 
                                  'Preço Mínimo',
                                  'Média dos Preços'])

for folder in os.listdir('./Azul/' + hj()):
    try:
        date_df = pd.read_pickle('./Azul/' + hj() + '/'+ folder)
        prices = date_df["Preço (R$)"]    
    except:
        prices = np.nan
        
    try:
        min_price = prices.min()
        avg_price = prices.mean()
    except:
        min_price = np.nan
        avg_price = np.nan
            
    new_row = {'Companhia': 'Azul', 
                'Data de Coleta': hj(), 
                'Data da Passagem': folder[0:10], 
                'Preço Mínimo': [min_price],
                'Média dos Preços': avg_price }
    test_df = pd.concat([test_df, pd.DataFrame.from_dict(new_row)])
        
for folder in os.listdir(f'./Latam/{hj()}'):
    try:
        date_df = pd.read_pickle('./Latam/' + hj() + '/' + folder)
        prices = date_df["Preço (R$)"]          
    except:
        prices = np.nan
        
    try:
        min_price = prices.min()
        avg_price = prices.mean()
    except:
        min_price = np.nan
        avg_price = np.nan
            
    new_row = {'Companhia': 'Latam', 
                'Data de Coleta': hj(), 
                'Data da Passagem': folder[0:10], 
                'Preço Mínimo': [min_price],
                'Média dos Preços': avg_price }
    test_df = pd.concat([test_df, pd.DataFrame.from_dict(new_row)])
        
for folder in os.listdir(f'./Gol/{hj()}'):
    try:
        date_df = pd.read_pickle('./Gol/' + hj() + '/' + folder)
        prices = date_df["Preço (R$)"]          
    except:
        prices = np.nan
        
    try:
        min_price = prices.min()
        avg_price = prices.mean()
    except:
        min_price = np.nan
        avg_price = np.nan
            
    new_row = {'Companhia': 'Gol', 
                'Data de Coleta': hj(), 
                'Data da Passagem': folder[0:10], 
                'Preço Mínimo': [min_price],
                'Média dos Preços': avg_price }
    test_df = pd.concat([test_df, pd.DataFrame.from_dict(new_row)])

In [60]:
test_df['Data de Coleta'] = pd.to_datetime(test_df['Data de Coleta'], format='%d-%m-%Y')
test_df['Data da Passagem'] = pd.to_datetime(test_df['Data da Passagem'], format='%d-%m-%Y')
test_df = test_df.sort_values(by=['Data da Passagem'])
#tmp = df[(df['Data de Coleta'] > '2023-06-30')]
test_df['Data de Coleta'] = test_df['Data de Coleta'].astype(str)
test_df['Data da Passagem'] = test_df['Data da Passagem'].astype(str)
tmp = test_df[(test_df['Data de Coleta'] >= '2023-06-30')]
tmp

   Companhia Data de Coleta Data da Passagem  Preço Mínimo  Média dos Preços
0        Gol     2023-07-13       2023-07-14       2113.74       2309.177931
0      Latam     2023-07-13       2023-07-14       1745.74       1862.366333
0       Azul     2023-07-13       2023-07-14       2398.64       3009.240000
0        Gol     2023-07-13       2023-07-28       1175.64       1684.394167
0       Azul     2023-07-13       2023-07-28       1103.64       1763.412727
..       ...            ...              ...           ...               ...
0       Azul     2023-07-13       2024-05-08        730.64        894.973333
0       Azul     2023-07-13       2024-05-23        730.64        968.348333
0       Azul     2023-07-13       2024-06-07        730.64        917.598333
0       Azul     2023-07-13       2024-06-22        730.64        915.854286
0       Azul     2023-07-13       2024-07-07       1025.64       1272.118261

[67 rows x 5 columns]

In [1]:
from dash import Dash, html

app = Dash(__name__)

app.layout = html.Div([
    html.Div(children='Hello World')
])

if __name__ == '__main__':
    app.run(debug=True)

In [76]:
# Import packages
from dash import Dash, html, dash_table
import pandas as pd

# Incorporate data
df = tmp

# Initialize the app
app = Dash(__name__)

# App layout
app.layout = html.Div([
    html.Div(children='My First App with Data'),
    dash_table.DataTable(data=df.to_dict('records'), page_size=12)
])

# Run the app
if __name__ == '__main__':
    app.run(debug=True)

In [53]:
# Import packages
from dash import Dash, html, dash_table, dcc
import pandas as pd
import plotly.express as px

# Incorporate data
df = tmp

# Initialize the app
app = Dash(__name__)

# App layout
app.layout = html.Div([
    html.Div(children='My First App with Data and a Graph'),
    dash_table.DataTable(data=df.to_dict('records'), page_size=10),
    dcc.Graph(figure=px.line(df, x='Data da Passagem', y='Preço Mínimo', color='Companhia'))
])

# Run the app
if __name__ == '__main__':
    app.run(debug=True)

In [75]:
import numpy as np
import pandas as pd
import plotly 
import plotly.express as px

from dash import Dash, html, dash_table, dcc
from dash.dependencies import Input, Output

df = tmp
external_stylesheets = ["https://codepen.io/chriddyp/pen/bWLwgP.css"]

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
app.layout = html.Div([
    html.Div(children='My First App with Data and a Graph'),
    dash_table.DataTable(data=df.to_dict('records'), page_size=10),
    
    html.Div(
        dcc.Graph(id='graph',
                  style={'height': 400, 'width': 800}
                  ),
    ),
    html.Div([
                html.Label(['Choose a graph:'],style={'font-weight': 'bold'}),
                dcc.RadioItems(
                    id='radio',
                    options=[
                             {'label': 'graph1', 'value': 'graph1'},
                             {'label': 'graph2', 'value': 'graph2'},
                    ],
                    value='age',
                    style={"width": "60%"}
                ),
        ])

])



# ---------------------------------------------------------------
@app.callback(
    Output('graph', 'figure'),
    [Input(component_id='radio', component_property='value')]
)
def build_graph(value):
    if value == 'graph1':
        return px.line(
            df,
            x="Data da Passagem",
            y="Preço Mínimo",
            color="Companhia"
        )
    else:
        return px.line(
            df,
            x="Data da Passagem",
            y="Média dos Preços",
            color="Companhia"
        )

if __name__ == '__main__':
    app.run_server(debug=True)

In [56]:
tmp['Preço'].mean()

883.9310714285714