In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib as plt
import os

In [2]:
def hj(today = dt.datetime.today()):
    hj = today.strftime('%d-%m-%Y')
    
    return hj

def get_dates(today = dt.datetime.today()):
    '''
    Dado o dia de hoje, computa todas as datas de quinze em quinze dias, começando por amanhã
    e terminando em 360 dias. Retorna as datas numa lista em formato %d%m%Y
    '''
    list_days = [1] + [i*15 for i in range(1, 25)]
    dates = [(today + dt.timedelta(days=day)) for day in list_days]
    dates_mdY = [date.strftime('%m/%d/%Y') for date in dates]
    dates_dmY = [date.strftime('%d/%m/%Y') for date in dates]
    dates_hifen = [date.strftime('%d-%m-%Y') for date in dates]
    
    return dates_mdY, dates_dmY, dates_hifen

In [3]:
test_df = pd.DataFrame(columns = ['Companhia', 
                                  'Data de Coleta', 
                                  'Data da Passagem', 
                                  'Preço Mínimo',
                                  'Média dos Preços'])

for folder in os.listdir('./Azul/' + hj()):
    try:
        date_df = pd.read_pickle('./Azul/' + hj() + '/'+ folder)
        prices = date_df["Preço (R$)"]    
    except:
        prices = np.nan
        
    try:
        min_price = prices.min()
        avg_price = prices.mean()
    except:
        min_price = np.nan
        avg_price = np.nan
            
    new_row = {'Companhia': 'Azul', 
                'Data de Coleta': hj(), 
                'Data da Passagem': folder[0:10], 
                'Preço Mínimo': [min_price],
                'Média dos Preços': round(avg_price, 2) }
    test_df = pd.concat([test_df, pd.DataFrame.from_dict(new_row)])
        
for folder in os.listdir(f'./Latam/{hj()}'):
    try:
        date_df = pd.read_pickle('./Latam/' + hj() + '/' + folder)
        prices = date_df["Preço (R$)"]          
    except:
        prices = np.nan
        
    try:
        min_price = prices.min()
        avg_price = prices.mean()
    except:
        min_price = np.nan
        avg_price = np.nan
            
    new_row = {'Companhia': 'Latam', 
                'Data de Coleta': hj(), 
                'Data da Passagem': folder[0:10], 
                'Preço Mínimo': [min_price],
                'Média dos Preços': round(avg_price, 2) }
    test_df = pd.concat([test_df, pd.DataFrame.from_dict(new_row)])
        
for folder in os.listdir(f'./Gol/{hj()}'):
    try:
        date_df = pd.read_pickle('./Gol/' + hj() + '/' + folder)
        prices = date_df["Preço (R$)"]          
    except:
        prices = np.nan
        
    try:
        min_price = prices.min()
        avg_price = prices.mean()
    except:
        min_price = np.nan
        avg_price = np.nan
            
    new_row = {'Companhia': 'Gol', 
                'Data de Coleta': hj(), 
                'Data da Passagem': folder[0:10], 
                'Preço Mínimo': [min_price],
                'Média dos Preços': round(avg_price, 2) }
    test_df = pd.concat([test_df, pd.DataFrame.from_dict(new_row)])

In [4]:
test_df['Data de Coleta'] = pd.to_datetime(test_df['Data de Coleta'], format='%d-%m-%Y')
test_df['Data da Passagem'] = pd.to_datetime(test_df['Data da Passagem'], format='%d-%m-%Y')
test_df = test_df.sort_values(by=['Data da Passagem'])
#tmp = df[(df['Data de Coleta'] > '2023-06-30')]
test_df['Data de Coleta'] = test_df['Data de Coleta'].astype(str)
test_df['Data da Passagem'] = test_df['Data da Passagem'].astype(str)
tmp = test_df[(test_df['Data de Coleta'] >= '2023-06-30')]
tmp

   Companhia Data de Coleta Data da Passagem  Preço Mínimo  Média dos Preços
0        Gol     2023-07-17       2023-07-18       1907.64           2144.79
0      Latam     2023-07-17       2023-07-18       1865.74           1962.27
0       Azul     2023-07-17       2023-07-18       1827.64           2173.12
0       Azul     2023-07-17       2023-08-01        928.64           1411.14
0        Gol     2023-07-17       2023-08-01           NaN               NaN
..       ...            ...              ...           ...               ...
0      Latam     2023-07-17       2024-05-12        836.74           1055.75
0       Azul     2023-07-17       2024-05-27        736.64            935.56
0       Azul     2023-07-17       2024-06-11        736.64            897.14
0       Azul     2023-07-17       2024-06-26        736.64            900.97
0       Azul     2023-07-17       2024-07-11       1031.64           1328.93

[67 rows x 5 columns]

In [5]:
tmp.to_csv(f"C:/Users/MATHEUS/Desktop/Biblioteca/Python/WebScrapping_Passagens/1_Dash_Data/{hj()}.csv")

In [1]:
from dash import Dash, html

app = Dash(__name__)

app.layout = html.Div([
    html.Div(children='Hello World')
])

if __name__ == '__main__':
    app.run(debug=True)

In [76]:
# Import packages
from dash import Dash, html, dash_table
import pandas as pd

# Incorporate data
df = tmp

# Initialize the app
app = Dash(__name__)

# App layout
app.layout = html.Div([
    html.Div(children='My First App with Data'),
    dash_table.DataTable(data=df.to_dict('records'), page_size=12)
])

# Run the app
if __name__ == '__main__':
    app.run(debug=True)

In [53]:
# Import packages
from dash import Dash, html, dash_table, dcc
import pandas as pd
import plotly.express as px

# Incorporate data
df = 

# Initialize the app
app = Dash(__name__)

# App layout
app.layout = html.Div([
    html.Div(children='My First App with Data and a Graph'),
    dash_table.DataTable(data=df.to_dict('records'), page_size=10),
    dcc.Graph(figure=px.line(df, x='Data da Passagem', y='Preço Mínimo', color='Companhia'))
])

# Run the app
if __name__ == '__main__':
    app.run(debug=True)

In [75]:
import numpy as np
import pandas as pd
import plotly 
import plotly.express as px

from dash import Dash, html, dash_table, dcc
from dash.dependencies import Input, Output

df = tmp
external_stylesheets = ["https://codepen.io/chriddyp/pen/bWLwgP.css"]

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)
app.layout = html.Div([
    html.Div(children='My First App with Data and a Graph'),
    dash_table.DataTable(data=df.to_dict('records'), page_size=10),
    
    html.Div(
        dcc.Graph(id='graph',
                  style={'height': 400, 'width': 800}
                  ),
    ),
    html.Div([
                html.Label(['Choose a graph:'],style={'font-weight': 'bold'}),
                dcc.RadioItems(
                    id='radio',
                    options=[
                             {'label': 'graph1', 'value': 'graph1'},
                             {'label': 'graph2', 'value': 'graph2'},
                    ],
                    value='age',
                    style={"width": "60%"}
                ),
        ])

])



# ---------------------------------------------------------------
@app.callback(
    Output('graph', 'figure'),
    [Input(component_id='radio', component_property='value')]
)
def build_graph(value):
    if value == 'graph1':
        return px.line(
            df,
            x="Data da Passagem",
            y="Preço Mínimo",
            color="Companhia"
        )
    else:
        return px.line(
            df,
            x="Data da Passagem",
            y="Média dos Preços",
            color="Companhia"
        )

if __name__ == '__main__':
    app.run_server(debug=True)

In [56]:
tmp['Preço'].mean()

883.9310714285714

In [6]:
pd.read_pickle('https://github.com/matheusgirola/WebScrapping-Passagens/blob/master/Azul/07-07-2023/01-06-2024.pkl?raw=True')

,Companhia,Data da Viagem,Horário de Partida,Aeroporto de Partida,Horário de Destino,Aeroporto de Destino,Preço (R$),Detalhes,Tag
0,Azul,01/06/2024,03:55,REC,06:45,SDU,1128.64,Voo 4824 Direto,REC_03:55-SDU_06:45
1,Azul,01/06/2024,09:10,REC,12:05,SDU,1161.64,Voo 5024 Direto,REC_09:10-SDU_12:05
2,Azul,01/06/2024,12:50,REC,15:45,SDU,1161.64,Voo 2990 Direto,REC_12:50-SDU_15:45
3,Azul,01/06/2024,17:40,REC,20:35,SDU,1161.64,Voo 4631 Direto,REC_17:40-SDU_20:35
4,Azul,01/06/2024,03:15,REC,09:05,GIG,970.64,1 conexão • Voo 4335,REC_03:15-GIG_09:05
5,Azul,01/06/2024,08:25,REC,16:35,GIG,970.64,1 conexão • Voo 4508,REC_08:25-GIG_16:35
6,Azul,01/06/2024,13:00,REC • 01/06,00:35,GIG • 02/06,970.64,1 conexão • Voo 2923,REC • 01/06_13:00-GIG • 02/06_00:35
7,Azul,01/06/2024,03:20,REC,10:45,RRJ,872.64,1 conexão • Voo 4716,REC_03:20-RRJ_10:45
8,Azul,01/06/2024,08:15,REC,15:25,RRJ,872.64,1 conexão • Voo 4298,REC_08:15-RRJ_15:25
9,Azul,01/06/2024,02:25,REC,10:45,RRJ,872.64,2 conexões • Voo 4104,REC_02:25-RRJ_10:45
10,Azul,01/06/2024,02:25,REC,12:40,RRJ,872.64,2 conexões • Voo 4104,REC_02:25-RRJ_12:40
11,Azul,01/06/2024,02:25,REC,15:25,RRJ,872.64,2 conexões • Voo 4104,REC_02:25-RRJ_15:25
12,Azul,01/06/2024,02:30,REC,12:40,RRJ,872.64,2 conexões • Voo 4605,REC_02:30-RRJ_12:40
13,Azul,01/06/2024,22:30,REC • 01/06,15:25,RRJ • 02/06,872.64,2 conexões • Voo 4612,REC • 01/06_22:30-RRJ • 02/06_15:25