In [10]:
import pandas as pd
import numpy as np
import datetime as dt

In [18]:
dt.datetime.strptime("21-06-2023", '%d-%m-%Y')

datetime.datetime(2023, 6, 21, 0, 0)

In [19]:
def get_dates(today = dt.datetime.today()):
    '''
    Dado o dia de hoje, computa todas as datas de quinze em quinze dias, começando por amanhã
    e terminando em 360 dias. Retorna as datas numa lista em formato %d%m%Y
    '''
    list_days = [1] + [i*15 for i in range(1, 25)]
    dates = [(today + dt.timedelta(days=day)) for day in list_days]
    dates_mdY = [date.strftime('%m/%d/%Y') for date in dates]
    dates_dmY = [date.strftime('%d/%m/%Y') for date in dates]
    dates_hifen = [date.strftime('%d-%m-%Y') for date in dates]
    
    return dates_mdY, dates_dmY, dates_hifen

In [25]:
_, _, dates = get_dates(dt.datetime.strptime("21-06-2023", '%d-%m-%Y'))

In [28]:
new_df = {}
for d in dates:
    try:
        prices = pd.read_pickle(f"./Azul/21-06-2023/{d}.pkl")["Preço (R$)"]
    except KeyError:
        prices = []
    new_df.update({d:prices})

In [30]:
temp = pd.DataFrame.from_dict(new_df)

ValueError: array length 0 does not match index length 25

In [9]:
df = pd.read_pickle("./Azul/21-06-2023/06-07-2023.pkl")
df.head()

,Companhia,Data da Viagem,Horário de Partida,Aeroporto de Partida,Horário de Destino,Aeroporto de Destino,Preço (R$),Detalhes,Tag
0,Azul,06/07/2023,03:55,REC,06:45,SDU,1005.64,Voo 4824 Direto,REC_03:55-SDU_06:45
1,Azul,06/07/2023,09:10,REC,12:05,SDU,1005.64,Voo 5024 Direto,REC_09:10-SDU_12:05
2,Azul,06/07/2023,12:45,REC,15:45,SDU,1005.64,Voo 2990 Direto,REC_12:45-SDU_15:45
3,Azul,06/07/2023,17:40,REC,20:35,SDU,1005.64,Voo 4631 Direto,REC_17:40-SDU_20:35
4,Azul,06/07/2023,03:05,REC,11:05,SDU,1065.64,1 conexão • Voo 4153,REC_03:05-SDU_11:05

In [24]:
df['Preço (R$)']

0     1005.64
1     1005.64
2     1005.64
3     1005.64
4     1065.64
5      950.64
6     1065.64
7     1065.64
8     1065.64
9      950.64
10    1125.64
11    1065.64
12    1109.64
13    1109.64
14    1105.64
15    1105.64
16    1105.64
17    1105.64
18    1105.64
19    1105.64
20    1105.64
21    1105.64
22    1105.64
23    1105.64
Name: Preço (R$), dtype: float64